
.info{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}

.info img{
  margin-bottom: 0;
}
h1{
  margin-top: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.h1-login:first-letter {
  color: #0275A3;
  text-transform: uppercase;
}

.submit-btn{
  width: 80%;
  height: 45px;
  margin: 10px 50px;
  background-color: #1791B2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.submit-btn:hover{
  cursor: pointer;
}

.remember-me{
  margin: 10px 60px;
}

.remember-me label {
  color: #00B6FF;
}

.input-button{
  width: 100%;
  /* height: 45px; */
  background-color: transparent;
  border: none;
}


.input-container {
  width: 80%;
  background-color: #3F3A44;
  border-radius: 5px;
  margin: 30px 50px;
  display: flex;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  padding-left: 20px;
  color: white;
  outline: none;
}

.input-container svg {
  width: 20px; 
  height: 20px; 
  cursor: pointer; 
  margin: 15px;

}

.other-button{

  width: 80%;
  height: 45px;
  margin: 25px 50px;
  display: flex;
  justify-content: space-between;
}
.other-method{
  border: none;
  border-radius: 5px;
  width: 45%;
}
.other-method:hover{
  cursor: pointer;
  background-color: #1791B2;
}

.google{
  background-color: #31377C;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 18 19" fill="none"><path d="M18 9.72218C18 15.1425 14.4258 19 9.14754 19C4.08689 19 0 14.7556 0 9.5C0 4.24436 4.08689 0 9.14754 0C11.6115 0 13.6844 0.938508 15.2816 2.48609L12.7918 4.97218C9.53484 1.70847 3.47828 4.16008 3.47828 9.5C3.47828 12.8135 6.02705 15.4988 9.14754 15.4988C12.7697 15.4988 14.127 12.802 14.341 11.4038H9.14754V8.13629H17.8561C17.941 8.62278 18 9.09012 18 9.72218Z" fill="white"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.intra{
  background-color: #A11872;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="19" viewBox="0 0 27 19" fill="none"><path d="M0 14.0046H9.9472V19H14.9103V9.97266H4.98114L14.9103 0H9.9472L0 9.97266V14.0046Z" fill="white"/><path d="M17.0528 4.99237L22.0189 0H17.0528V4.99237Z" fill="white"/><path d="M22.0189 4.99237L17.0528 9.97266V14.9499H22.0189V9.97266L27 4.99237V0H22.0189V4.99237Z" fill="white"/><path d="M27 9.97266L22.0189 14.9499L27 14.9499V9.97266Z" fill="white"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.link-register{
  margin: 20px 50px;
  display: flex;
  justify-content: center;
}

.link-register span{
  font-size: 20px;
  font-weight: semi-bold;
  color: #8C8C8C;
}
.link-register .link{
  font-size: 18px;
  font-weight: semi-bold;
  color: #00B6FF;
  text-decoration: none;
  padding-left: 10px;
}
